<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>微信安全支付</title>
    <script type="text/javascript">
        //调用微信JS api 支付
        function jsApiCall()
        {
            //alert(11);
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {"appId":"{{appId}}","timeStamp":"{{timeStamp}}","nonceStr":"{{nonceStr}}","package":"{{packageStr}}","signType":"{{signType}}","paySign":"{{paySign}}"},
                function(res){
                    //WeixinJSBridge.log(res.err_msg);
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {       
                        //alert("支付成功");
                        window.location.href = '/pay/success';
                    }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                        //window.location.href = '/oauth/wx_login?dev_code={{dev_code}}';
                        window.history.back(-1);
                    }else{
                        alert(res.err_code+res.err_desc+res.err_msg);
                    }  
                }
            );
        };

        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        };

        callpay();
    </script>
</head>
<body>
</body>
</html>
